<div class="p-profile">
    <div class="p-login">
        <div class="login__background"></div>
        <div class="login__card">
            <h2>Profile</h2>
            <form class="profile__edit__form" id="edit_profile" action="/profile" method="POST" enctype="multipart/form-data">
                <div class="profile__avatar" style="background-image: url('{{ userInfo.avatar }}');"></div>
                <label class="profile__avatar__label" for="editImage">Avatar</label>
                <input class="profile__editavatar" type="file" name="editImage" accept="image/*">
                <span class="sign-up--failed">The username <span class="takenUsername">{{ data.editUser }}</span> is already taken, please choose a different one.</span>
                <label for="editUser">Username</label>
                <p>{{ userInfo.username }}</p>
                <input class="no-error" type="text" name="editUser" id="editUser" value="{{ userInfo.username }}">
                <label for="editAge">Age</label>
                <p>{{ userInfo.age }}</p>
                <input class="no-error" type="text" name="editAge" id="editAge" value="{{ userInfo.age }}">
                <label for="editLocation">Location</label>
                <p>{{ userInfo.location }}</p>
                <input class="no-error" type="text" name="editLocation" id="editLocation" value="{{ userInfo.location }}">
                <label for="editDescription">Description</label>
                <p>{{ userInfo.description }}</p>
                <textarea name="editDescription" id="editDescription" cols="30" rows="10">{{ userInfo.description }}</textarea>
            <button class="profile__save">Save changes</button>
            </form>
            <button class="profile__button">Edit profile</button>
            <form id="logout_button" action="/logout" method="POST">
                <button>Logout</button>
            </form>
            <a href="/remove"><button>Remove account</button></a>
        </div>
    </div>
</div>

<script src="editProfile.js"></script>